/* COLORS
	- default body text  #101010
	- nav background #101010
	- main colors used:
		- #4F55F9 (purple)
		- #27D6C3 (teal)
		- #0032E3 (blue)
	https://color.adobe.com/create/color-wheel/?base=2&rule=Custom&selected=2&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.30980392156862746,0.3333333333333333,0.9764705882352941,0.18069583612018258,0.9811837320753963,1,0,0.19591339618928033,0.89,0.3271430972315102,0.8,0.07999999999999999,0.2632641106374365,0.7,0.03500000000000003&swatchOrder=0,1,2,3,4
*/

/* FONTS
	- default:	'Rubik', sans-serif;
	- accent: 	'Luckiest Guy', cursive;
*/

/* GLOBAL=========
================== */
html { 
  background: url(../images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	font-family: 'Rubik', sans-serif;
	color: #fff
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
	color: #fff;
}

/* COLOR-FONTS-BUTTONS */
.custom-purple {
	background-color: #4F55F9 !important;
}

.custom-purple:hover {
	background-color: #3F44C7 !important;
}

.custom-blue {
	background-color: #0032E3 !important;
}

.custom-teal {
	background-color: #27D6C3 !important;
}

.fun-font {
	font-family: 'Luckiest Guy', cursive;
	font-size: 4.7em;
	background: -webkit-linear-gradient(-45deg, rgba(126,92,249,1) 0%,rgba(14,204,197,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.btn {
	background-color: #000 !important;
}

.btn:hover {
	background-color: #4F55F9 !important;
	font-family: 'Luckiest Guy', cursive;
	letter-spacing: 1px;
}

.modal-btn {
	margin-top: 15px;
}

.modal-btn:hover {
	color: #000;
}

/* PRIMARY =========
================== */
.hidden {
	display: none;	
}

.name {
  animation-delay: .7s;
}

.title {
  animation-delay: 1s;
}

.small-text {
	font-size: .7em;
}

.tagline {
  animation-delay: 1.5s;
}

.timeline {
	height: 400px;
	background: red;
}

.modal {
	max-height: 100%;
}

.modal img {
	width: 80% !important;
}

/* NAVBAR =========
================== */
nav {
	background-color: #000;
	color: #fff;
	letter-spacing: 0.7px;
}

nav .brand-logo {
	padding-left: 5px;
	font-family: 'Luckiest Guy', cursive;
}

nav .brand-logo:hover {
	color: #4F55F9;
}

nav .nav-icon {
	padding: 18px;
	color: #818181;
	transition: transform .2s ease-in-out;
}

nav .nav-icon:hover,
nav .nav-icon:focus,
nav .nav-icon:active {
	font-family: 'Luckiest Guy', cursive;
	color: #fff;
	transform: rotate(360deg);
	/* Permalink - http://colorzilla.com/gradient-editor/#7e5cf9+0,000000+100&0.7+0,0+99 */
	background: -webkit-linear-gradient(45deg, rgba(79,85,249,0.7) 0%,rgba(1,2,2,0) 70%,rgba(0,0,0,0) 100%);
}

nav .menu-text {
	font-size: .9em;
    line-height: 2;
}

nav .selected {
	font-family: 'Luckiest Guy', cursive;
	color: #fff;
	transform: rotate(360deg);
	/* Permalink - http://colorzilla.com/gradient-editor/#7e5cf9+0,000000+100&0.7+0,0+99 */
	background: -webkit-linear-gradient(-45deg, rgba(79,85,249,0.7) 0%,rgba(1,2,2,0) 70%,rgba(0,0,0,0) 100%);
}

/* SIDENAV =========
================== */
.sidenav {
	letter-spacing: .7px;
	background: -webkit-linear-gradient(0deg, rgba(126,92,249,1) 0%,rgba(1,1,2,0) 100%);
}

.sidenav li a {
	color: #fff;
}

.sidenav .nav-name:hover,
.sidenav .nav-name:focus,
.sidenav .nav-name:active {
	font-family: 'Luckiest Guy', cursive;
	color: #fff;
	background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%);
}