html, body {
	height: 100%;
}

.hidden {
	display: none;
}

.pin-top {
	position: relative;
}


.pin-bottom {
	position: relative;
}


.pinned {
	position: fixed !important;
	top: 0px;
}

.block {
	height: 100%;
}

.my-blue {
	background-color: #182b5b;
}

.my-teal {
	background-color: #8adacf;
}
  
  
#navbar {
	background: transparent;
	width: 250px;
	height: 50px;
	position: fixed;
	top: 5px;
	right: 10px;
	text-align: right;
	z-index: 3;
	min-height: 60px;
	box-shadow: none;
}

.nav-icon {
	margin: 5px 15px 5px 5px;
	color: #fff;
	padding: 10px 5px;
}

.nav-icon:hover {
	color: #000;
}	

.box {
	width: 350px;
	height: 350px;
	border: 15px solid #fff;
	color: #fff;
	margin: 100px auto;
	padding: 50px 10px 5px 10px;
}

.box span {
	font-size: 3em;
	color: #fff;
}

	
	